 #camada1{
            position: absolute;
            width: 150px;
            height: 100px;
            background-color: aqua;
            border: 5px solid rgb(81, 5, 39);
            text-align: center;
            top: 200px;
            left: 200px;
            z-index: 1;
        }

         #camada2{
            position: absolute;
            width: 150px;
            height: 100px;
            background-color: rgb(184, 35, 35);
            border: 5px solid #00f;
            text-align: center;
            top: 250px;
            left: 250px;
            z-index: 2;
        }

        #camada3{
            width: 180px;
            height: 150px;
            position: absolute;
            top: 300px;
            left: 300px;
            z-index: 3;
        }