
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif
}


#fundo{
    position: relative;
    width: 1000px;
    height: 650px;
    background-color: rgba(119, 134, 139, 0.79);
    margin:0 auto;

}
#topo{
    position: relative;
    width: 1000px;
    height: 100px;
    background-color: rgba(0, 162, 122, 0.803);
    text-align: center;
    padding: 10px; 
    font-size: 40px;
}
#conteudo{
    position: relative;
    width: 700px;
    height: 500px;
    background-color: rgb(123, 123, 123);
    padding: 5px; 
    margin:-19px auto 0 auto;
    display: block;
    
}
#rodape{
    position: relative;
    width: 1000px;
    height: 50px;
    background-color: rgb(43, 147, 252);
    padding: 5px;
}
#camada_absoluta{
    position: absolute;
    width: 150px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    top: 100px;
    left: 850px;
    z-index: 2;
}
#camada_absoluta1{
    position: absolute;
    width: 150px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    top: 225px;
    left: 850px;
    z-index: 2;
}
.camera-img{
position: absolute;
bottom: 10px;
right: -20px;
width: 150px;
height: auto;
z-index: 99;
}