#fundo{
    position: relative;
    width: 900px;
    height: 800px;
    background-color: aquamarine;
    margin: auto;
}


#camada1{
    position: relative;
    width: 200px;
    height: 100px;
    background-color: rgb(0, 72, 255);
    text-align: center;
    padding: 5px; 
    float: left;

}
#camada2{
    position: relative;
    width: 680px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    padding: 5px; 
    float: left;

}
#camada3{
    position: relative;
    width: 880px;
    height: 40px;
    background-color: rgb(0, 255, 21);
    text-align: center;
    padding: 10px; 
    clear: left;
}
#camada4{
    position: relative;
    width: 870px;
    height: 520px;
    background-color: rgb(225, 255, 0);
    border:5px solid red ;
    text-align: center;
    padding: 10px; 
    
}
#camada5{
    position: relative;
    width: 880px;
    height: 60px;
    background-color: rgb(89, 89, 89);
    text-align: center;
    padding: 10px; 
    clear: left;
}