body{
    font-family: Arial, Helvetica, sans-serif;
}



main{
    position: relative;
    width: 80%;
    height: 720px;
    background-color: blue;
    margin: auto;
}
#cabecalho{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(55, 255, 0);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
#esquerda{
    position: relative;
    width: 30%;
    height: 550px;
    background-color: rgb(0, 247, 255);
    float: left;

}


#direita{
  position: relative;
    width: 70%;
    height: 550px;
    background-color: rgb(97, 0, 162);
    float: left;
}


#menu{
    position:absolute;
    width: 26%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    top: 120px;
    left: 25px;
    
}


#menu2{
    position:absolute;
    width: 26%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    top: 380px;
    left: 25px;
    
}


#article{
    position: absolute;
    width: 68%;
    height: 525px;
    background-color: rgb(195, 195, 195);
    top: 125px;
    left: 375px;
    
}
h2{
    position:absolute;
    width: 68%;
    height: 30px;
    background-color: rgb(88, 209, 246);
    top: 125px;
    left: 375px;
    text-align: center;
    
}

p{
    position:absolute;
    width: 68%;
    height: 200px;
    background-color: rgb(184, 67, 67);
    top: 170px;
    left: 375px;
    color: white;
}

div{
    position:absolute;
    width: 68%;
    height: 240px;
    background-color: rgb(196, 137, 220);
    top: 395px;
    left: 375px;

}



footer{
    position: 100%;
    height: 90px;
    background-color: black;
    color: white;
    clear: left;
}