

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: Tahoma;
}


#fundo{
    position: relative;
    width: 800px;
    height: 750px;
    background-color: aquamarine;
    margin: auto;

}



#camada1{
    position: relative;
    width: 300px;
    height: 380px;
    background-color: yellow;
    border: 5px solid red;
    text-align: center;
    padding: 5px; 
    float: left;

}
#camada2{
    position: relative;
    width: 300px;
    height: 380px;
    background-color: rgb(0, 255, 8);
    border: 5px solid rgb(77, 1, 255);
    text-align: center;
    padding: 5px; 
    float: left;

}
#camada3{
    position: relative;
    width: 300px;
    height: 380px;
    background-color: rgb(173, 181, 241);
    border: 5px solid rgb(215, 16, 245);
    text-align: center;
    padding: 10px; 
    clear: left;

}
#camada_absoluta{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: blue;
    top: 150px;
    left: 200px;
    z-index: 2;
}
