/* CSS RESET */

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    width: 90%;
    height: auto;
    background-color: blue;
    margin: auto;
}
#cabecalho{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: red;
}
#menu{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: blueviolet;

}
#esquerda{
    position: relative;
    width: 30%;
    height: 450px;
    background-color: rgb(227, 255, 11);
    float: left;

}


#direita{
  position: relative;
    width: 70%;
    height: 450px;
    background-color: rgb(0, 200, 255);
    float: left;
}

footer{
    position: 100%;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    clear: left;
}